<a href="https://colab.research.google.com/github/bhagvatibhatu90/UCS420/blob/main/ass_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1: Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80]. i. WAP to add 200 and 300 to L. ii. WAP to remove 10 and 30 from L. iii. WAP to sort L in ascending order. iv. WAP to sort L in descending order.

In [ ]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print("after 1",L)
L.remove(10)
L.remove(30)
print("after 2",L)
L.sort()
print("after 3",L)
L.sort(reverse=True)
print("after 4 ",L)

after 1 [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
after 2 [20, 40, 50, 60, 70, 80, 200, 300]
after 3 [20, 40, 50, 60, 70, 80, 200, 300]
after 4  [300, 200, 80, 70, 60, 50, 40, 20]

2: Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions: i. Identify the highest score and its index in the tuple. ii. Find the lowest score and count how many times it appears. iii. Reverse the tuple and return it as a list. iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [ ]:
t=(45, 89.5, 76, 45.4, 89, 92, 58, 45)

print(max(t))
print(t.index(max(t)))
print(min(t))
print(t.count(min(t)))
lst=list(t[::-1])
print(lst)
n=int(input("enter the number"))
if(t.count(n)):
  print( t.index(n))
else:
  print("Not present")

92
5
45
2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
enter the number12
Not present

**3**: WAP to create a list of 100 random numbers between 100 and 900. Count and print the: i. All odd numbers ii. All even numbers iii. All prime numbers

In [ ]:
import random
random_nums=[random.randint(101,899) for i in range(100)]
#print(random_nums)
cnt=0
for i in random_nums:
  if(i%2==1):
    cnt+=1;
    print(i,end=" ")
print("\n")
print("count of odd no = ",cnt)
cnte=0
for i in random_nums:
  if(i%2==0):
    cnte+=1;
    print(i,end=" ")
print("\n")
print("count of even no = ",cnte)
def is_prime(n):
  if(n<=1):
    return False
  for i in range(2,n//2,1):
    if(n%i==0):
      return False
  return True
prime_numbers = [num for num in random_nums if is_prime(num)]
print("Prime numbers:", prime_numbers)
print(len(prime_numbers))

219 127 883 623 619 703 133 181 699 433 283 465 107 841 423 731 893 867 739 319 873 145 867 401 615 855 437 497 145 699 463 513 407 889 821 673 665 497 689 787 337 819 723 307 315 315 103 553 565 859 209

count of odd no =  51
244 560 106 370 522 624 436 482 874 842 736 460 384 410 816 300 362 502 656 576 330 726 752 574 320 528 450 714 180 800 532 896 310 588 104 698 594 418 828 778 360 372 440 774 364 262 194 232 722

count of even no =  49
Prime numbers: [127, 883, 619, 181, 433, 283, 107, 739, 401, 463, 821, 673, 787, 337, 307, 103, 859]
17

 **4**: Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set funcƟons: i. Find the unique scores achieved by both teams (union of sets). ii. Identify the scores that are common to both teams (intersection of sets). iii. Find the scores that are exclusive to each team (symmetric difference). iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A. v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [ ]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))
if(A.issubset(B)):
  print("A is subset of B")
else:
  print("A is not subset of B")
if(B.issuperset(A)):
  print("B is superset of A")
else:
  print("B is not superset of A")
x=int(input("enter the number"))
if(x in A):
  A.remove(x)
  print("x is removed from A")
  print(A)
else:
  print(x ," is not present in A")

{34, 45, 78, 23, 56, 90}
{90, 78}
{56, 34}
{45, 23}
{34, 45, 23, 56}
A is not subset of B
B is not superset of A
enter the number23
23  is not present in A

**5**: Write a program to rename a key city to a location in the following dictionary.

In [2]:
sample_dict={"name":"Bhagvati",
            "age":20,
            "salary":8000,
            "city":"New york"}
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'Bhagvati', 'age': 20, 'salary': 8000, 'location': 'New york'}